/*-- scss:defaults --*/

$link-color: #b67900;
$presentation-heading-color: #9e3965;
$code-block-border-color: #000000;
$title-block-banner-color: #b67900;
$presentation-font-size-root: 30px;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
}

.reveal .logo {
  font-size: 1.9em !important;
  width: 750px !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.subtitle {
  font-size: 50px;
}

.author {
  font-size: 60px;
}

.sectionhead {
  font-size: 2.5em;
  text-align: center;
  color: #501E32;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 20px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

.reveal h2 {
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(255,255,255, 0.9);
}

.reveal h3 {
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(255,255,255, 0.9);
}

.centerme {
  text-align: center;
}

